<nav>
  <%= link_to home_index_path, class: "navbar-title navbar-logo" do %>
    <%= image_tag "snowplow-logo.png" %>
  <% end %>

  <ul>
    <li><%= link_to "Shop", shop_all_products_path, class: "navbar-link secondary", data: { cy: "shop-navbar" } %></li>
    <li><%= link_to"About", home_about_path, class: "navbar-link secondary", data: { cy: "about-navbar" } %></li>
  </ul>
</nav>
