<nav>
  <ul>
    <li><%= link_to home_index_path, class: "navbar-title navbar-logo" do %>
      <%= image_tag "snowplow-logo.png" %>
      <% end %>
    </li>
  </ul>
  <ul>
    <li><%= link_to "History", home_history_path, class: "navbar-link secondary" %></li>
    <li><%= link_to "About", home_about_path, class: "navbar-link secondary" %></li>
  </ul>
</nav>
