<div class="basket">
    <h4>Basket</h4>
    <p>
      <span class="item-no">0 items in basket.</span><br/>
      Total: £<span class="order-total">0</span>
      <%= button_to "Purchase", shop_confirmation_path, remote:true, method: :get, disabled: true %>
    </p>
  </div>
