<% content_for(:page_title) { "Rails Example: About" } %>

<section id="about">
  <h2>About</h2>
  <p>This demo site shows how to incorporate tracking into a Rails app.</p>
  <p>The JavaScript (client-side) tracker/SDK emits Page View and Page Ping events. It can also generate other kinds of events not shown here.</p>
  <p>The Ruby (server-side) tracker/SDK emits events on clicking the buttons on the index page.</p>
</section>
