<% content_for(:page_title) { "Rails Example: About" } %>

<section id="history">
  <h2>History of Snow-Moving</h2>
  <p>In the olden days, snow was moved by hand using shovels. Now we have better tech!</p>
</section>
