<% content_for(:page_title) { "Rails Example: Home" } %>

<section id="home">
  <h2>Tracking events with Snowplow</h2>

  <div class="main-image"><%= image_tag("skiing.jpg") %></div>
  <div class="text">
    <p>Navigate around this demo site to generate events.</p>
  </div>

</section>

