// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-logo {
  min-width: 300px;
  max-width: 400px;
}

.navbar-link {
  font-size: 1.3rem;
}

.container {
  display: flex;
}

.main-image {
  width: 50%;
  max-width: 600px;
  border-radius: 1.5%;
  float: left;
  padding-right: 50px;
}
