// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#shop img {
  width: 50%;
  max-width: 600px;
  float: right;
  margin-left: 2rem;
}

.products {
  width: 200px;
}

h4 {
  margin-bottom: 0;
}

.shop-item {
  margin-bottom: 0;
}

.basket {
  width: 200px;
}

.single-product form {
  width: 200px;
}
